*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $font-family-default;
    font-size: 100%;
    background: linear-gradient($radial-gradient) no-repeat fixed;
}

body {
    box-sizing: border-box;
}

.attribution { 
    font-size: 68.75%; 
    color: white;
    text-align: center;
    margin-bottom: 3rem;

    & a {
        color: $header-outline;
    }
}