.rules {
    display: flex;
    justify-content: center;
    width: 8rem;
    text-transform: uppercase;
    padding: .5rem 1rem;
    margin: 0 2rem 1rem auto;
    border: .1rem solid white;
    border-radius: .5rem;
    transition: all .1s ease-out;
    position: relative;
    z-index: 1;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1.02);
    }

    @media only screen and (max-width: 500px) {
        margin: 4rem auto 2rem auto;
    }

    &__checkbox {
        display: none;
    }
}

#rules:checked ~ .modal__bg {
    display: block;
}

.modal {
    position: fixed;
    top: 10rem;
    left: 30%;
    right: 30%;
    min-width: 22rem;
    padding: 2rem;
    background-color: white;
    border-radius: .5rem;

    @media only screen and (max-width: 1000px) {
        top: 8rem;
        left: 25%;
        right: 25%;
    }

    @media only screen and (max-width: 700px) {
        left: 15%;
        right: 15%;
    }

    @media only screen and (orientation: landscape) {
        top: 1rem;
        left: 15%;
        right: 15%;
        height: 90vh;
        padding: 1rem;
        border-radius: .5rem;
    }

    @media only screen and (max-width: 500px) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        border-radius: 0;
    }
    
    &__bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(7, 8, 20, 0.6);
        z-index: 10;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        @media only screen and (orientation: landscape) {
            margin-bottom: 1rem;
        }

        &--text {
            font-size: 180%;
            font-weight: 700;
            color: hsl(237, 49%, 15%);
            text-transform: uppercase;

            @media only screen and (max-width: 500px) {
                margin: 5vh auto;
            }
        }

        &--close {
            width: fit-content;

            &:hover {
                cursor: pointer;
            }

            @media only screen and (max-width: 500px) {
                position: absolute;
                bottom: 20%;
                left: 48%
            }
        }
    }

    &__image {
        display: flex;
        justify-content: center;

        &--img {
            max-width: 70%;

            @media only screen and (orientation: landscape) {
                max-height: 66vh;
            }
        }
    }
}