.playfield {
    display: flex;
    justify-content: space-evenly;
    width: 26rem;
    height: 26rem;
    margin: 0 auto;
    background: url("../images/bg-triangle.svg") center no-repeat;

    &__paper,
    &__scissors,
    &__rock {
        display: flex;
        min-width: 10rem;
        height: 10rem;
        position: relative;
        border-radius: 100%;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            position: absolute;
            top: .3rem;
            left: 0;
            width: 10rem;
            height: 10rem;
            border-radius: 100%;
            z-index: -10;
        }
        
        &--bg {
            display: flex;
            width: 7rem;
            height: 7rem;
            position: relative;
            margin: auto;
            background: #cccccc;
            border-radius: 100%;
            transform: translateY(-.2rem);

            &::after {
                content: "";
                position: absolute;
                top: .3rem;
                left: 0;
                width: 7rem;
                height: 7rem;
                background: white no-repeat fixed;
                border-radius: 100%;
            }
        }

        &--icon {
            width: 49px;
            height: 59px;
            margin: auto;
            transform: translateY(.2rem);
            z-index: 100;
        }
    }

    &__paper {
        background: linear-gradient($paper-gradient) no-repeat fixed;

        &::before {
            background: $score-text no-repeat fixed;
        }
    }

    &__scissors {
        background: linear-gradient($scissors-gradient) no-repeat fixed;

        &::before {
            background: hsl(39, 88%, 43%) no-repeat fixed;
        }
    }

    &__rock {
        align-self: flex-end;
        background: linear-gradient($rock-gradient) no-repeat fixed;

        &::before {
            background: hsl(349, 67%, 45%) no-repeat fixed;
        }
    }
}